*{
	margin: 0;
	padding: 0;
	font-family: 'Cinzel', serif;
}

body {
  font-family: 'Anaheim';
  font-size: 1.2em
float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

@font-face {
font-family: myFirstFont;
src: url(GanpatiSymbolys.TTF);
}

header{
	width: 100%;
	height: 100vh;
	background-image: url('back1.png');
	background-size: 100% 100%
}

headesize: 4em;
	font-weight: 600;
	animation:  ganpatiji 1s infinite;
}

header h2 span {r h2{
	text-align: center;
	word-spacing: 10px;
	font-
	font-family: myFirstFont;
}size: 4em;
	font-weight: 600;
	animation:  ganpatiji 1s infinite;
}

header h2 span {

@keyframes ganpatiji{
	0%{color:red;}
	30%{color: pink;}
	50%{color: #FC8704;}
	75%{color: #42BFEB;}
	100%{color: green;}
}
# for making your site goood
@keyframes mymove {
  0%   {top: 0px; left: 0px; background: red;}
  25%  {top: 0px; left: 100px; background: blue;}
  50%  {top: 100px; left: 100px; background: yellow;}
  75%  {top: 100px; left: 0px; background: green;}
  100% {top: 0px; left: 0px; background: red;}
}


	
.centerimg{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}

.centerimg h3{size: 4em;
	font-weight: 600;
	animation:  ganpatiji 1s infinite;
}

header h2 span {
	width: 107%;
	color: #000;
	text-align: center;
	font-size: 1.6em;
	font-weight: 600;
	word-spacing: 10px;
}

@media (max-width: 640px){

header h2{

	word-spacing: 5px;
	font-size: 3em;
	}

.centerimg{
	margin-top: 60px;
}
size: 4em;
	font-weight: 600;
	animation:  ganpatiji 1s infinite;
}

header h2 span {
.centerimg img{
	width: 250px;
}

.centerimg h3{
	font-size: 1.2em;
	word-spacing: 0px;
	width: 100%;size: 4em;
	font-weight: 600;
	animation:  ganpatiji 1s infinite;
}

header h2 span {
}
}

https://www.mp3mine.com/mp3/vakratunda-mahakaya-song-female-voice.htmlS
